<!-- <div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let user of roleList">{{ user.role }}</li>
    </ul>
  </div>

  <div class="col-3">
    <select>
      <option *ngFor="let role of roleList" [value]="role.roleId">
        {{ role.role }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <p>String Interpolation</p>
  <div class="col-3">
    <p>{{ title }}</p>
  </div>

  <div class="col-3">
    <p>{{ currentDate | date }}</p>
  </div>
</div>

<div class="row">
  <p>Property Binding</p>
  <div class="col-3">
    <input type="text" class="form-control" />
  </div>

  <div class="col-3">
    <input [type]="inputType" />
  </div>

  <div class="col-3">
    <input type="text" [(ngModel)]="title" />
  </div>
</div>

<div class="row">
  <p>Event Binding</p>
  <div class="col-3">
    <button class="btn btn-primary" (click)="onSave()">Save</button>
  </div>

  <div class="col-3">
    <button class="btn btn-secondary" (click)="onSaves($event)">Save</button>
  </div>
</div>

<div class="row">
  <p>Two-way Binding</p>
  <div class="col-3">
    <select
      name="state"
      id="state"
      [(ngModel)]="selectedState"
      class="form-control"
    >
      <option value="MH">MH</option>
      <option value="MP">MP</option>
      <option value="UP">UP</option>
    </select>
  </div>

  <div class="col-3">
    <p>{{ selectedState }}</p>
  </div>
</div> -->

<div class="row">
  <div class="col-12 ">
    @if (isLoader) {
   <div class="col-12 text-center">
    <div class="spinner-border text-dark"></div>
   </div>
    } @else {
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Role Name</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let role of roleList; let srno = index">
          <td>{{ srno + 1 }}</td>
          <td>{{ role.role }}</td>
        </tr>
      </tbody>
    </table>
    }
  </div>
</div>
